/* Mixtool stylesheet */

/* COLORS 

#3d1403 - DK BROWN
#4d63bc - INDIGO
#DAE1F7 - LT INDIGO
#e34309 - DK ORANGE
#ff7519 - ORANGE
#FFE1CC - LT ORANGE

*/

@import url(../../_assets/Titillium.css);

body {
	font-family: 'TitilliumText22LThin', Helvetica, Arial, sans-serif;
	padding:40px;
	margin:0;
	color:#3d1403;
}
h2, h3, h4, h5, h6 {
	font-family: 'TitilliumText22LBold', Helvetica, Arial, sans-serif;
	font-weight:normal;
}
h1 {
	display:inline;
	font:normal 2.5em/1.0em 'TitilliumText22LBold', Helvetica, Arial, sans-serif;
	margin:0;
	text-shadow:#DAE1F7 2px 2px 0, #DAE1F7 0 2px 0, #DAE1F7 -2px 2px 0, #DAE1F7 -2px 0 0, #DAE1F7 -2px -2px 0, #DAE1F7 0 -2px 0, #DAE1F7 2px -2px 0, #DAE1F7 2px -2px 0, #DAE1F7 2px 0 0;
}
h2 {
	line-height:1.3em;
	margin:0;
}
.print {
	color:#000 !important;
	text-shadow:none !important;	
}
h1 span, h4 span {
	font-family: 'TitilliumText22LThin', Helvetica, Arial, sans-serif;
	font-size:16px;
	text-shadow:none;
}
h1 span.version {
	color:#ff7519;
	float:right;
}
strong {
	font-family: 'TitilliumText22LBold', Helvetica, Arial, sans-serif;
	font-weight:normal;
}
a {
	color:#4d63bc;
	text-decoration:none;
}
a.search {
	display:inline-block;
	width:16px;
	height:15px;
	margin:10 10px;
	cursor:pointer;
	color:#ff7519;
	background:url(../_images/search.png) 0 0;
}
a.search:hover {
	color:#4d63bc;
	background:url(../_images/search.png) 0 15px;
}
a:hover {
	background:#DAE1F7;
}
p {
	overflow:hidden;
	padding-bottom:10px;
}
a.trackCount {
	float:right;
	width:40px;
	height:25px;
	display:inline-block;
	font:24px/100% Helvetica, Arial, sans-serif;
	text-align:center;
	color:#ff7519;
	cursor:pointer;
}
a.trackCount:hover, a.trackCount:active {
	color:#4d63bc;
	background:none;
}
ol.tracklist {
	float:left;
	width:100%;
	margin:0 0 60px 0;
	padding:5px 0 15px 25px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
ol.tracklist li {
	float:left;
	width:100%;
	margin:0 0 4px 0; 
	padding:10px;
	background:url(../_images/grab_texture-4.gif);
	position:relative;
}
ol.printList {
	width:96%;
	float:left;
	color:#000;
	margin:0;
	font: 1.2em/1.2em 'TitilliumText22LBold', Helvetica, Arial, sans-serif;
}
ol.printList li {
	width:100%;
	height:auto;
	margin:0 0 4px 0; 
	padding:5px 0;
	border-bottom:1px #999 solid;
	position:relative;
}
ol.printList li:last-child {
	border-bottom:none;
}
ol.printList li span.key {	
	font:.8em/1em 'TitilliumText22LThin', Helvetica, Arial, sans-serif;
	color:#999;
	margin:0 20px;
}
ol.tracklist .harmonic {
	display:none;
	text-align:center;
	color:#4d63bc;
	font:.8em/1em 'TitilliumText22LMedium', Helvetica, Arial, sans-serif;
	text-shadow:#fff 2px 2px 0, #fff 0 2px 0, #fff -2px 2px 0, #fff -2px 0 0, #fff -2px -2px 0, #fff 0 -2px 0, #fff 2px -2px 0, #fff 2px -2px 0, #fff 2px 0 0;
	position:absolute;
	width:111px;
	height:34px;
	padding-top:10px;
	bottom:-28px;
	right:10%;
	background:url(../_images/mix.gif) repeat-x;
	z-index:10;
}
ol.printList .harmonic {
	display:none;
	text-align:left;
	color:#999;
	font:.8em/1em 'TitilliumText22LThin', Helvetica, Arial, sans-serif;
	position:absolute;
	width:120px;
	height:25px;
	padding:0 8px;
	bottom:-13px;
	right:10%;
	background:#fff;
	z-index:10;
	border-left: 1px #999 solid;
	border-right: 1px #999 solid;
}
ol.printList .harmonic img {
	float:left;
}
ol.printList .harmonic span {
	float:left;
	height:19px;
	padding-top:6px;
	margin-left:8px;
	overflow:hidden;
}
.section {	
	float:left;
	width:100%;
	border-bottom:1px #ff7519 dotted;
	padding:10px 0; 
}
.topSection {
	float:left;
	width:100%;
	border-bottom:1px #ff7519 dotted;
	padding-bottom:5px;
}
.sectionPrint {
	float:left;
	width:100%;
	border-bottom:1px #000 dotted;
	padding:10px 0; 
	margin-bottom:20px;
}
.numHarmonic {
	font: .9em/.9em 'TitilliumText22LBold', Helvetica, Arial, sans-serif;
	float:right;
	padding:6px 15px;
	margin:4px 0 4px 15px;
}
.section .numHarmonic {
	color:#4d63bc;
}
.sectionPrint .numHarmonic {
	color:#000;
}
#mixes, #firstVisit {
	display:none;
}
#help {
	overflow:hidden;
}
#help p, #help ul {
	font: .9em/1.2em 'TitilliumText22LRegular', Helvetica, Arial, sans-serif;
}
#help p.large {
	font: 1.1em/1.4em 'TitilliumText22LRegular', Helvetica, Arial, sans-serif;
}

/* COLUMNS
------------------------------------------ */

.col {
	float:left;
	display:inline;
	overflow:hidden;
	min-height:43px;
}
.col_inner {
	padding:0 10px;
	overflow:hidden;
}
.half {
	width:50%;
}
.quarter {
	width:25%;
}
.threeQuarter {
	width:75%;
}
.twoThirds {
	width:66.6%;
}
.third {
	width:33.3%;
}
.col10 {
	width:10%;
}
.col80 {
	width:80%;
}

/* FORMS
---------------------------------------------*/

form.mixTitleForm {
	float:left;
	width:100%;
	margin:12px 0; 
	padding:0; 
}
form.trackForm {
	margin:0; 
}
.input {
	display:inline-block;
	padding:3px 5px;
	margin:0 10px 0 0;
	border:0;
	outline:none;
	-webkit-transition:background-color .4s ease-in;  
   	-moz-transition:background-color .4s ease-in;  
   	-o-transition:background-color .4s ease-in;  
   	transition:background-color .4 ease-in; 
}
select {
	display:inline-block;
	margin:0 10px;
	height:25px; 
	padding:0;
}
.mixTitle {
	font: 1.4em/1.4em 'TitilliumText22LThin', Helvetica, Arial, sans-serif;
	width:50%;
	margin-left:25px;
	color:#3d1403;
	background:none;
}
.mixTitle:focus {
	background:#FFE1CC;
	outline:none;
}
.track {
	height:20px;
	font: 1.1em/1.1em 'TitilliumText22LBold', Helvetica, Arial, sans-serif;
	text-shadow:#fff 2px 2px 0, #fff 0 2px 0, #fff -2px 2px 0, #fff -2px 0 0, #fff -2px -2px 0, #fff 0 -2px 0, #fff 2px -2px 0, #fff 2px -2px 0, #fff 2px 0 0;
	width:250px;
	color:#3d1403;
	background:none;
}
.track:focus {
	background:#fff;
	outline:none;
}
.mixable {
	width:295px;
	height:20px;
	font:.8em/1em 'TitilliumText22LMedium', Helvetica, Arial, sans-serif;
	text-shadow:#fff 2px 2px 0, #fff 0 2px 0, #fff -2px 2px 0, #fff -2px 0 0, #fff -2px -2px 0, #fff 0 -2px 0, #fff 2px -2px 0, #fff 2px -2px 0, #fff 2px 0 0;
	font-weight:normal;
	color:#ff7519;
	-webkit-text-fill-color:#ff7519;
	background:none;
}
textarea {
	height:100px;
	padding:3px 3px 3px 5px !important;
}
.full {	
	width:100%;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.partial {
	width:180px;
	margin:3px 10px 0 0;
}
input::-webkit-input-placeholder {
	color:#3d1403;
}

/* BUTTONS
---------------------------------------------*/

button {
	display:block;
	margin:4px 1px;
	cursor:pointer;
	font:normal 14px/18px 'TitilliumText22LBold', Helvetica, Arial, sans-serif;
	text-align:center;
	border:none;
	-webkit-border-radius:4px;
    -moz-border-radius:4px; 
    border-radius:4px; 
}
.file {
	float:right;
	padding:4px 7px;
	color:#666;
	background-color:#E6E7E8;
	border:2px #E6E7E8 solid;
}
.function {
	float:left;
	padding:4px 15px;
	color:#4d63bc;
	background-color:#DAE1F7;
	border:2px #DAE1F7 solid;
}
.mix {
	float:left;
	padding:4px 15px;
	color:#ff7519;
	background-color:#FFE1CC;
	border:2px #FFE1CC solid;
}
.active {
	border:2px #ff7519 solid;
}	
button.file:hover, button.keyPref {
	color:#fff !important;
	background-color:#666 !important;
	border:2px #666 solid !important;
}
button.function:hover {	
	color:#fff;
	background-color:#4d63bc;
	border:2px #4d63bc solid;
}
button.mix:hover {	
	color:#fff;
	background-color:#ff7519;
	border:2px #ff7519 solid;
}
button.tradKeys {
	float:right;
	margin:4px 0 4px 1px;
	padding:4px 7px;
	color:#666;
	background-color:#E6E7E8;
	border:2px #E6E7E8 solid;
	-webkit-border-radius:4px 0 0 4px;
    -moz-border-radius:4px 0 0 4px; 
    border-radius:4px 0 0 4px; 
}
button.camKeys {
	float:right;
	margin:4px 0;
	padding:4px 7px;
	color:#666;
	background-color:#E6E7E8;
	border:2px #E6E7E8 solid;
	-webkit-border-radius:0 4px 4px 0;
    -moz-border-radius:0 4px 4px 0; 
    border-radius:0 4px 4px 0; 
}
.hidden {
	display:none;
}

/* FRAME
---------------------------------------------*/

#top, #right, #bottom, #left {
	position:fixed;
	background:#dadff1;
	z-index:-1;
}
#top {
	top:0;
	right:8px;
	width:100%;
	height:8px;
}
#right {
	right:0;
	bottom:8px;
	height:100%;
	width:8px;
}
#bottom {
	bottom:0;
	left:8px;
	width:100%;
	height:8px;
}
#left {
	left:0;
	top:8px;
	height:100%;
	width:8px;
}

@media (max-width: 750px) {
	
	body {
		padding:20px;
	}
	ol.tracklist {
		width:90%;
	}
	.harmonic {
		width:74px;
	}
	
}
@media (max-width: 480px) {
	.harmonic {
		width:37px;
	}
	#top {
		top:0;
		right:4px;
		width:100%;
		height:4px;
	}
	#right {
		right:0;
		bottom:4px;
		height:100%;
		width:4px;
	}
	#bottom {
		bottom:0;
		left:4px;
		width:100%;
		height:4px;
	}
	#left {
		left:0;
		top:4px;
		height:100%;
		width:4px;
	}

}